{erl_opts, [debug_info]}.
{deps,
 [{cowboy, {git, "https://github.com/ninenines/cowboy", {branch, master}}},
  {gun, {git, "https://github.com/ninenines/gun", {branch, master}}},
  {jsone, {git, "https://github.com/sile/jsone", {branch, master}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [discordant]}
]}.

{relx,
 [{release, {discordant, "0.1.0"},
   [tataru, jsone, sasl]},
  {dev_mode, false},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {include_erts, false},
  {extended_start_script, true}]}.
